
#container {
    border: 1px solid gray;
    border-radius: 5px;
    height: 160px;
    width: 1000px;
    /* margin: 40px 0 0 20px; */
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    /* align-content: center; */
}

.date {
    border: 1px solid black;
    height: 15px;
    width: 15px;
    margin: 3px 0 0 3px;
    border-radius: 3.5px;
    display: flex;
    justify-content: center;
    cursor: context-menu;
}