<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django - SQL</title>
</head>
<body>
    <center>
        <h1>Connect SQL Server DB & Display Data</h1>
        <h2>Django Web Application</h2>
        <hr>
        <table border="1">
            <tr>
                <th>ID Cliente</th>
                <th>Razón Social</th>
                <th>RFC</th>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </center>
</body>
</html>