<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django - SQL</title>
</head>
<body>
    <center>
        <h1>Connect SQL Server DB & Display Data</h1>
        <h2>Django Web Application</h2>
        <hr>
        <table border="1">
            <tr>
                <th>ID Cliente</th>
                <th>Razón Social</th>
                <th>RFC</th>
            </tr>
            {% for enterprise in sqlServerConn %}
                {% for data in enterprise %}
                    <tr>
                        <td>{{data.CIDCLIENTEPROVEEDOR}}</td>
                        <td>{{data.CRAZONSOCIAL}}</td>
                        <td>{{data.CRFC}}</td>
                    </tr>
                {% endfor %}
                <br>
            {% endfor %}
        </table>
    </center>
</body>
</html>